@import url(https://fonts.googleapis.com/css?family=Oxygen:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Libre+Franklin:400,400i,600,600i);



body,
input,
textarea,
.mbr-company .list-group-text,
.mbr-section-text {
  font-family: 'Libre Franklin', serif;
}
.mbr-footer-content li,
.mbr-footer .mbr-contacts li {
  font-family: 'Libre Franklin', serif;
}
.alert,
h1,
h2,
h3,
h4,
h5,
h6,
.mbr-figure .mbr-figure-caption,
.mbr-gallery-title,
.mbr-map [data-state-details],
.mbr-price,
.mbr-section-title {
  font-family: 'Oxygen', sans-serif;
}
.btn {
  font-family: 'Libre Franklin', serif;
}
.mbr-footer-content h1,
.mbr-footer .mbr-contacts h1,
.mbr-footer-content h2,
.mbr-footer .mbr-contacts h2,
.mbr-footer-content h3,
.mbr-footer .mbr-contacts h3,
.mbr-footer-content h4,
.mbr-footer .mbr-contacts h4,
.mbr-footer-content p strong,
.mbr-footer .mbr-contacts p strong,
.mbr-footer-content strong,
.mbr-footer .mbr-contacts strong {
  font-family: 'Oxygen', sans-serif;
}
.btn-sm,
.mbr-section-hero .mbr-section-lead,
.mbr-cards .card-subtitle,
.mbr-testimonial .card-block,
.mbr-section-subtitle {
  font-family: 'Libre Franklin', serif;
  font-style: normal;
}
.mbr-author-name {
  font-family: 'Oxygen', sans-serif;
}
.mbr-author-desc {
  font-family: 'Libre Franklin', serif;
  font-style: normal;
}
.mbr-plan-title {
  font-family: 'Oxygen', sans-serif;
}
.mbr-plan-subtitle,
.mbr-plan-price-desc {
  font-family: 'Libre Franklin', serif;
  font-style: normal;
}
.bg-primary {
  background-color: #075441 !important;
}
.bg-success {
  background-color: #1e7c3a !important;
}
.bg-info {
  background-color: #74a3c7 !important;
}
.bg-warning {
  background-color: #ffd785 !important;
}
.bg-danger {
  background-color: #ff9685 !important;
}
.btn-primary {
  background-color: #075441;
  border-color: #075441;
  color: #ffffff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active {
  color: #ffffff;
  background-color: #010d0a;
  border-color: #010d0a;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #010d0a !important;
  border-color: #010d0a !important;
}
.btn-secondary {
  background-color: #a25dae;
  border-color: #a25dae;
  color: #ffffff;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary:active,
.btn-secondary.active {
  color: #ffffff;
  background-color: #763f7f;
  border-color: #763f7f;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #763f7f !important;
  border-color: #763f7f !important;
}
.btn-info {
  background-color: #74a3c7;
  border-color: #74a3c7;
  color: #ffffff;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active,
.btn-info.active {
  color: #ffffff;
  background-color: #447eaa;
  border-color: #447eaa;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #447eaa !important;
  border-color: #447eaa !important;
}
.btn-success {
  background-color: #1e7c3a;
  border-color: #1e7c3a;
  color: #ffffff;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success:active,
.btn-success.active {
  color: #ffffff;
  background-color: #0f3e1d;
  border-color: #0f3e1d;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #0f3e1d !important;
  border-color: #0f3e1d !important;
}
.btn-warning {
  background-color: #ffd785;
  border-color: #ffd785;
  color: #ffffff;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning:active,
.btn-warning.active {
  color: #ffffff;
  background-color: #ffbe38;
  border-color: #ffbe38;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #ffbe38 !important;
  border-color: #ffbe38 !important;
}
.btn-danger {
  background-color: #ff9685;
  border-color: #ff9685;
  color: #ffffff;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger:active,
.btn-danger.active {
  color: #ffffff;
  background-color: #ff5438;
  border-color: #ff5438;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #ff5438 !important;
  border-color: #ff5438 !important;
}
.btn-primary-outline {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline:active,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #075441;
  border-color: #075441;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #075441 !important;
  border-color: #075441 !important;
}
.btn-secondary-outline {
  background: none;
  border-color: #66376e;
  color: #66376e;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #a25dae;
  border-color: #a25dae;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #a25dae !important;
  border-color: #a25dae !important;
}
.btn-info-outline {
  background: none;
  border-color: #3d7198;
  color: #3d7198;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline:active,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #74a3c7;
  border-color: #74a3c7;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #74a3c7 !important;
  border-color: #74a3c7 !important;
}
.btn-success-outline {
  background: none;
  border-color: #0a2a14;
  color: #0a2a14;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline:active,
.btn-success-outline.active {
  color: #ffffff;
  background-color: #1e7c3a;
  border-color: #1e7c3a;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #1e7c3a !important;
  border-color: #1e7c3a !important;
}
.btn-warning-outline {
  background: none;
  border-color: #ffb61f;
  color: #ffb61f;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline:active,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #ffd785;
  border-color: #ffd785;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #ffd785 !important;
  border-color: #ffd785 !important;
}
.btn-danger-outline {
  background: none;
  border-color: #ff3e1f;
  color: #ff3e1f;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline:active,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #ff9685;
  border-color: #ff9685;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #ff9685 !important;
  border-color: #ff9685 !important;
}
.text-primary {
  color: #075441 !important;
}
.text-success {
  color: #1e7c3a !important;
}
.text-info {
  color: #74a3c7 !important;
}
.text-warning {
  color: #ffd785 !important;
}
.text-danger {
  color: #ff9685 !important;
}
.alert-success {
  background-color: #1e7c3a;
}
.alert-info {
  background-color: #74a3c7;
}
.alert-warning {
  background-color: #ffd785;
}
.alert-danger {
  background-color: #ff9685;
}
.mbr-company .list-group-item.active .list-group-text {
  color: #075441;
}
.mbr-footer p a,
.mbr-footer ul a {
  color: #075441;
}
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #075441;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #075441;
}
.lead a,
.lead a:hover {
  color: #075441;
}
.lead blockquote {
  border-color: #075441;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #50f0c9;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #47d271;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #cfdfec;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-small-footer a,
.mbr-gallery-filter li:hover {
  color: #000;
}
/* DirectM */
a {
  color: #74a3c7;
}
a:hover {
  color: #333;
}
/*header1*/
.header1 .mbr-arrow a i {
  color: #ffffff;
}
.header1 .mbr-arrow a:hover i {
  color: #075441;
}
/*header2*/
.header1.header2 .mbr-arrow a i {
  color: #222222;
}
.header1.header2 .mbr-arrow a:hover i {
  color: #075441;
}
/*features1*/
.features1 .carousel-indicators li.active {
  border: 5px solid #075441;
}
/*features12*/
.features12 .card .mbr-iconfont,
.features14 .card .mbr-iconfont,
.features16 .card .mbr-iconfont {
  font-family: 'Oxygen', sans-serif;
}
/*msg-box1*/
.msg-box1 ul li:before {
  background-color: #075441;
}
.msg-box1 .round-block {
  background: linear-gradient(45deg, #043327, #075441, #0b8365);
}
/*tabs1*/
.tabs1 ul li a.active {
  border-bottom-color: #075441 !important;
}
.tabs1 .tab-list-wraper ul li:before {
  background-color: #075441;
}
.tabs1 .colorBG {
  background-color: #075441;
}
/*content*/
.content2 blockquote {
  border-left: 3px solid #075441;
}
.content4 p {
  border-bottom: 3px solid #075441;
  border-top: 3px solid #075441;
}
/*follow1*/
.follow1 .btn-social {
  color: #075441;
  border-color: #075441;
}
.follow1 .btn-social:hover {
  color: #0b8365;
  background: rgba(7, 84, 65, 0.1);
  border-color: #0b8365;
}
/*share1*/
.share1 .btn-social {
  color: #075441;
  border-color: #075441;
}
.share1 .btn-social:hover {
  color: #0b8365;
  background: rgba(7, 84, 65, 0.1);
  border-color: #0b8365;
}
/* Slider */
.mbr-slider .carousel-indicators .active {
  background-color: #075441;
}
/* Gallery */
.mbr-gallery-filter ul li {
  font-family: 'Libre Franklin', serif;
}
.mbr-gallery-filter li {
  color: #74a3c7;
}
.btn-empty:focus {
  color: #075441;
}
/* captions */
.mbr-figure-caption {
  background-color: #616161;
  color: #fff;
}
/* tabs1 */
.tabs1 ul li a {
  color: #74a3c7;
}
/*tabs3*/
.tabs3 .nav-tabs .nav-link.active {
  border: 5px solid #075441;
}
/* testimonials1*/
.testimonials1 .carousel-indicators li.active {
  border: 5px solid #075441;
}
.hamburger-icon {
  background-color: #075441 !important;
}
.hamburger-icon:before {
  background-color: #075441;
}
.hamburger-icon:after {
  background-color: #075441;
}
#menu1-0 .hide-buttons .nav-btn {
  display: none !important;
}
#menu1-0 .navbar-toggler {
  color: #74a3c7;
}
#menu1-0 .close-icon::before,
#menu1-0 .close-icon::after {
  background-color: #74a3c7;
}
#menu1-0 .link,
#menu1-0 .dropdown-item {
  color: #74a3c7;
  font-family: 'Libre Franklin', serif;
}
#menu1-0 .link {
  font-size: 0.8125rem;
}
#menu1-0 .dropdown-item,
#menu1-0 .nav-dropdown-sm .link {
  font-size: 0.880rem;
}
#menu1-0 .link:hover,
#menu1-0 .link:focus {
  color: #075441;
}
#menu1-0 .dropdown-item:hover::before,
#menu1-0 .dropdown-item:focus::before {
  background: #075441;
}
#menu1-0 .dropdown-item:hover,
#menu1-0 .dropdown-item:focus {
  color: #74a3c7;
}
#menu1-0 .link[aria-expanded="true"],
#menu1-0 .dropdown-menu {
  background: #ffffff;
}
#menu1-0 .nav-dropdown-sm .link:focus,
#menu1-0 .nav-dropdown-sm .link:hover,
#menu1-0 .nav-dropdown-sm .dropdown-item:focus,
#menu1-0 .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#menu1-0 .navbar,
#menu1-0 .nav-dropdown-sm,
#menu1-0 .nav-dropdown-sm .link[aria-expanded="true"],
#menu1-0 .nav-dropdown-sm .dropdown-menu {
  background: #fff;
}
#menu1-0 .bg-color.transparent .link {
  color: #74a3c7;
  transition: none;
}
#menu1-0 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu1-0 .bg-color.transparent.opened .link:hover,
#menu1-0 .bg-color.transparent.opened .link:focus {
  color: #075441;
}
#menu1-0 .link[aria-expanded="true"],
#menu1-0 .dropdown-item[aria-expanded="true"] {
  color: #075441!important;
}
#header5-1 .mbr-section-title,
#header5-1 .mbr-section-subtitle {
  margin-bottom: 1rem;
  color: #ffffff;
}
#header5-1 .mbr-iconfont {
  color: undefined;
  border-color: undefined;
}
#header5-1 .mbr-table-cell {
  vertical-align: middle;
}
#header5-1 .heading-text {
  color: #dfd9ca;
}
#features1-4 .mbr-section-title {
  color: #455c97;
}
#features15-5 .mbr-iconfont {
  background: #ffb6ab;
  border-color: #ffb6ab;
}
#content3-21 .mbr-section-title,
#content3-21 .mbr-section-subtitle {
  text-align: center;
}
#tabs2-6 UL {
  text-align: right;
}
#footer2-11 .footer-list {
  color: #ffe3ab;
}
#footer2-11 .btn-social {
  border-color: #fffffd;
  color: #fffffd;
}
#footer2-11 .btn-social:hover {
  background: #fffffd;
  color: #fff;
}
#menu1-e .hide-buttons .nav-btn {
  display: none !important;
}
#menu1-e .navbar-toggler {
  color: #74a3c7;
}
#menu1-e .close-icon::before,
#menu1-e .close-icon::after {
  background-color: #74a3c7;
}
#menu1-e .link,
#menu1-e .dropdown-item {
  color: #74a3c7;
  font-family: 'Libre Franklin', serif;
}
#menu1-e .link {
  font-size: 0.8125rem;
}
#menu1-e .dropdown-item,
#menu1-e .nav-dropdown-sm .link {
  font-size: 0.880rem;
}
#menu1-e .link:hover,
#menu1-e .link:focus {
  color: #075441;
}
#menu1-e .dropdown-item:hover::before,
#menu1-e .dropdown-item:focus::before {
  background: #075441;
}
#menu1-e .dropdown-item:hover,
#menu1-e .dropdown-item:focus {
  color: #74a3c7;
}
#menu1-e .link[aria-expanded="true"],
#menu1-e .dropdown-menu {
  background: #ffffff;
}
#menu1-e .nav-dropdown-sm .link:focus,
#menu1-e .nav-dropdown-sm .link:hover,
#menu1-e .nav-dropdown-sm .dropdown-item:focus,
#menu1-e .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#menu1-e .navbar,
#menu1-e .nav-dropdown-sm,
#menu1-e .nav-dropdown-sm .link[aria-expanded="true"],
#menu1-e .nav-dropdown-sm .dropdown-menu {
  background: #fff;
}
#menu1-e .bg-color.transparent .link {
  color: #74a3c7;
  transition: none;
}
#menu1-e .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu1-e .bg-color.transparent.opened .link:hover,
#menu1-e .bg-color.transparent.opened .link:focus {
  color: #075441;
}
#menu1-e .link[aria-expanded="true"],
#menu1-e .dropdown-item[aria-expanded="true"] {
  color: #5aac98!important;
}
#msg-box5-u .mbr-section-title {
  color: #fff;
  line-height: 1;
}
#msg-box5-u .round-text {
  color: #fff;
}
#msg-box2-t H1 {
  color: #ffffff;
}
#msg-box2-t P {
  color: #ffffff;
}
#header4-g .mbr-table-cell {
  vertical-align: middle;
}
#toggle1-h DIV {
  color: #667bb1;
}
#content5-i .mbr-section-title,
#content5-i .mbr-section-subtitle {
  margin-bottom: 1rem;
  color: #ffffff;
}
#content5-i .mbr-table-cell {
  vertical-align: middle;
}
#form2-m .heading {
  background: #5aac98;
}
#menu1-15 .hide-buttons .nav-btn {
  display: none !important;
}
#menu1-15 .navbar-toggler {
  color: #74a3c7;
}
#menu1-15 .close-icon::before,
#menu1-15 .close-icon::after {
  background-color: #74a3c7;
}
#menu1-15 .link,
#menu1-15 .dropdown-item {
  color: #74a3c7;
  font-family: 'Libre Franklin', serif;
}
#menu1-15 .link {
  font-size: 0.8125rem;
}
#menu1-15 .dropdown-item,
#menu1-15 .nav-dropdown-sm .link {
  font-size: 0.880rem;
}
#menu1-15 .link:hover,
#menu1-15 .link:focus {
  color: #075441;
}
#menu1-15 .dropdown-item:hover::before,
#menu1-15 .dropdown-item:focus::before {
  background: #075441;
}
#menu1-15 .dropdown-item:hover,
#menu1-15 .dropdown-item:focus {
  color: #74a3c7;
}
#menu1-15 .link[aria-expanded="true"],
#menu1-15 .dropdown-menu {
  background: #ffffff;
}
#menu1-15 .nav-dropdown-sm .link:focus,
#menu1-15 .nav-dropdown-sm .link:hover,
#menu1-15 .nav-dropdown-sm .dropdown-item:focus,
#menu1-15 .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#menu1-15 .navbar,
#menu1-15 .nav-dropdown-sm,
#menu1-15 .nav-dropdown-sm .link[aria-expanded="true"],
#menu1-15 .nav-dropdown-sm .dropdown-menu {
  background: #fff;
}
#menu1-15 .bg-color.transparent .link {
  color: #74a3c7;
  transition: none;
}
#menu1-15 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu1-15 .bg-color.transparent.opened .link:hover,
#menu1-15 .bg-color.transparent.opened .link:focus {
  color: #075441;
}
#menu1-15 .link[aria-expanded="true"],
#menu1-15 .dropdown-item[aria-expanded="true"] {
  color: #5aac98!important;
}
#footer3-1d .mbr-section-text {
  color: #8acdbc;
}
#footer2-16 .footer-list {
  color: #fffffd;
}
#footer2-16 .btn-social {
  border-color: #fffffd;
  color: #fffffd;
}
#footer2-16 .btn-social:hover {
  background: #fffffd;
  color: #fff;
}
#content5-1e .mbr-section-title,
#content5-1e .mbr-section-subtitle {
  margin-bottom: 1rem;
  color: #ffffff;
}
#content5-1e .mbr-table-cell {
  vertical-align: middle;
}
#menu1-7 .hide-buttons .nav-btn {
  display: none !important;
}
#menu1-7 .navbar-toggler {
  color: #74a3c7;
}
#menu1-7 .close-icon::before,
#menu1-7 .close-icon::after {
  background-color: #74a3c7;
}
#menu1-7 .link,
#menu1-7 .dropdown-item {
  color: #74a3c7;
  font-family: 'Libre Franklin', serif;
}
#menu1-7 .link {
  font-size: 0.8125rem;
}
#menu1-7 .dropdown-item,
#menu1-7 .nav-dropdown-sm .link {
  font-size: 0.880rem;
}
#menu1-7 .link:hover,
#menu1-7 .link:focus {
  color: #075441;
}
#menu1-7 .dropdown-item:hover::before,
#menu1-7 .dropdown-item:focus::before {
  background: #075441;
}
#menu1-7 .dropdown-item:hover,
#menu1-7 .dropdown-item:focus {
  color: #74a3c7;
}
#menu1-7 .link[aria-expanded="true"],
#menu1-7 .dropdown-menu {
  background: #ffffff;
}
#menu1-7 .nav-dropdown-sm .link:focus,
#menu1-7 .nav-dropdown-sm .link:hover,
#menu1-7 .nav-dropdown-sm .dropdown-item:focus,
#menu1-7 .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#menu1-7 .navbar,
#menu1-7 .nav-dropdown-sm,
#menu1-7 .nav-dropdown-sm .link[aria-expanded="true"],
#menu1-7 .nav-dropdown-sm .dropdown-menu {
  background: #fff;
}
#menu1-7 .bg-color.transparent .link {
  color: #74a3c7;
  transition: none;
}
#menu1-7 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu1-7 .bg-color.transparent.opened .link:hover,
#menu1-7 .bg-color.transparent.opened .link:focus {
  color: #075441;
}
#menu1-7 .link[aria-expanded="true"],
#menu1-7 .dropdown-item[aria-expanded="true"] {
  color: #075441!important;
}
#header2-8 .mbr-section-title,
#header2-8 .mbr-section-subtitle {
  color: #ffffff;
}
#header2-8 .mbr-table-cell {
  vertical-align: middle;
}
#features10-9 .mbr-iconfont {
  color: #075441;
  border-color: #075441;
}
#features18-a .card .mbr-iconfont {
  color: #fff;
  border-color: #fff;
}
#features18-a .mbr-table-cell {
  vertical-align: middle;
}
#pricing-table1-b th.default {
  background: #6091b7;
}
#pricing-table1-b th.favorite {
  background: #5aac98;
}
#msg-box4-w H1 {
  color: #434343;
}
#msg-box4-w P {
  color: #434343;
}
#footer2-y .footer-list {
  color: #ffe3ab;
}
#footer2-y .btn-social {
  border-color: #fffffd;
  color: #fffffd;
}
#footer2-y .btn-social:hover {
  background: #fffffd;
  color: #fff;
}
#menu1-1h .hide-buttons .nav-btn {
  display: none !important;
}
#menu1-1h .navbar-toggler {
  color: #74a3c7;
}
#menu1-1h .close-icon::before,
#menu1-1h .close-icon::after {
  background-color: #74a3c7;
}
#menu1-1h .link,
#menu1-1h .dropdown-item {
  color: #74a3c7;
  font-family: 'Libre Franklin', serif;
}
#menu1-1h .link {
  font-size: 0.8125rem;
}
#menu1-1h .dropdown-item,
#menu1-1h .nav-dropdown-sm .link {
  font-size: 0.880rem;
}
#menu1-1h .link:hover,
#menu1-1h .link:focus {
  color: #075441;
}
#menu1-1h .dropdown-item:hover::before,
#menu1-1h .dropdown-item:focus::before {
  background: #075441;
}
#menu1-1h .dropdown-item:hover,
#menu1-1h .dropdown-item:focus {
  color: #74a3c7;
}
#menu1-1h .link[aria-expanded="true"],
#menu1-1h .dropdown-menu {
  background: #ffffff;
}
#menu1-1h .nav-dropdown-sm .link:focus,
#menu1-1h .nav-dropdown-sm .link:hover,
#menu1-1h .nav-dropdown-sm .dropdown-item:focus,
#menu1-1h .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#menu1-1h .navbar,
#menu1-1h .nav-dropdown-sm,
#menu1-1h .nav-dropdown-sm .link[aria-expanded="true"],
#menu1-1h .nav-dropdown-sm .dropdown-menu {
  background: #fff;
}
#menu1-1h .bg-color.transparent .link {
  color: #74a3c7;
  transition: none;
}
#menu1-1h .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu1-1h .bg-color.transparent.opened .link:hover,
#menu1-1h .bg-color.transparent.opened .link:focus {
  color: #075441;
}
#menu1-1h .link[aria-expanded="true"],
#menu1-1h .dropdown-item[aria-expanded="true"] {
  color: #5aac98!important;
}
#form1-1k .form {
  background: #fafbfc;
}
#footer2-1i .footer-list {
  color: #fffffd;
}
#footer2-1i .btn-social {
  border-color: #fffffd;
  color: #fffffd;
}
#footer2-1i .btn-social:hover {
  background: #fffffd;
  color: #fff;
}
#content7-1j .mbr-section-title,
#content7-1j .mbr-section-subtitle {
  margin-bottom: 1rem;
  color: #fff;
}
#content7-1j .mbr-table-cell {
  vertical-align: middle;
}
#menu1-13 .hide-buttons .nav-btn {
  display: none !important;
}
#menu1-13 .navbar-toggler {
  color: #74a3c7;
}
#menu1-13 .close-icon::before,
#menu1-13 .close-icon::after {
  background-color: #74a3c7;
}
#menu1-13 .link,
#menu1-13 .dropdown-item {
  color: #74a3c7;
  font-family: 'Libre Franklin', serif;
}
#menu1-13 .link {
  font-size: 0.8125rem;
}
#menu1-13 .dropdown-item,
#menu1-13 .nav-dropdown-sm .link {
  font-size: 0.880rem;
}
#menu1-13 .link:hover,
#menu1-13 .link:focus {
  color: #075441;
}
#menu1-13 .dropdown-item:hover::before,
#menu1-13 .dropdown-item:focus::before {
  background: #075441;
}
#menu1-13 .dropdown-item:hover,
#menu1-13 .dropdown-item:focus {
  color: #74a3c7;
}
#menu1-13 .link[aria-expanded="true"],
#menu1-13 .dropdown-menu {
  background: #ffffff;
}
#menu1-13 .nav-dropdown-sm .link:focus,
#menu1-13 .nav-dropdown-sm .link:hover,
#menu1-13 .nav-dropdown-sm .dropdown-item:focus,
#menu1-13 .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#menu1-13 .navbar,
#menu1-13 .nav-dropdown-sm,
#menu1-13 .nav-dropdown-sm .link[aria-expanded="true"],
#menu1-13 .nav-dropdown-sm .dropdown-menu {
  background: #fff;
}
#menu1-13 .bg-color.transparent .link {
  color: #74a3c7;
  transition: none;
}
#menu1-13 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu1-13 .bg-color.transparent.opened .link:hover,
#menu1-13 .bg-color.transparent.opened .link:focus {
  color: #075441;
}
#menu1-13 .link[aria-expanded="true"],
#menu1-13 .dropdown-item[aria-expanded="true"] {
  color: #075441!important;
}
#footer2-14 .footer-list {
  color: #ffe3ab;
}
#footer2-14 .btn-social {
  border-color: #fffffd;
  color: #fffffd;
}
#footer2-14 .btn-social:hover {
  background: #fffffd;
  color: #fff;
}
#menu1-1o .hide-buttons .nav-btn {
  display: none !important;
}
#menu1-1o .navbar-toggler {
  color: #74a3c7;
}
#menu1-1o .close-icon::before,
#menu1-1o .close-icon::after {
  background-color: #74a3c7;
}
#menu1-1o .link,
#menu1-1o .dropdown-item {
  color: #74a3c7;
  font-family: 'Libre Franklin', serif;
}
#menu1-1o .link {
  font-size: 0.8125rem;
}
#menu1-1o .dropdown-item,
#menu1-1o .nav-dropdown-sm .link {
  font-size: 0.880rem;
}
#menu1-1o .link:hover,
#menu1-1o .link:focus {
  color: #075441;
}
#menu1-1o .dropdown-item:hover::before,
#menu1-1o .dropdown-item:focus::before {
  background: #075441;
}
#menu1-1o .dropdown-item:hover,
#menu1-1o .dropdown-item:focus {
  color: #74a3c7;
}
#menu1-1o .link[aria-expanded="true"],
#menu1-1o .dropdown-menu {
  background: #ffffff;
}
#menu1-1o .nav-dropdown-sm .link:focus,
#menu1-1o .nav-dropdown-sm .link:hover,
#menu1-1o .nav-dropdown-sm .dropdown-item:focus,
#menu1-1o .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#menu1-1o .navbar,
#menu1-1o .nav-dropdown-sm,
#menu1-1o .nav-dropdown-sm .link[aria-expanded="true"],
#menu1-1o .nav-dropdown-sm .dropdown-menu {
  background: #fff;
}
#menu1-1o .bg-color.transparent .link {
  color: #74a3c7;
  transition: none;
}
#menu1-1o .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu1-1o .bg-color.transparent.opened .link:hover,
#menu1-1o .bg-color.transparent.opened .link:focus {
  color: #075441;
}
#menu1-1o .link[aria-expanded="true"],
#menu1-1o .dropdown-item[aria-expanded="true"] {
  color: #075441!important;
}
#footer2-1p .footer-list {
  color: #ffe3ab;
}
#footer2-1p .btn-social {
  border-color: #fffffd;
  color: #fffffd;
}
#footer2-1p .btn-social:hover {
  background: #fffffd;
  color: #fff;
}
#menu1-1q .hide-buttons .nav-btn {
  display: none !important;
}
#menu1-1q .navbar-toggler {
  color: #74a3c7;
}
#menu1-1q .close-icon::before,
#menu1-1q .close-icon::after {
  background-color: #74a3c7;
}
#menu1-1q .link,
#menu1-1q .dropdown-item {
  color: #74a3c7;
  font-family: 'Libre Franklin', serif;
}
#menu1-1q .link {
  font-size: 0.8125rem;
}
#menu1-1q .dropdown-item,
#menu1-1q .nav-dropdown-sm .link {
  font-size: 0.880rem;
}
#menu1-1q .link:hover,
#menu1-1q .link:focus {
  color: #075441;
}
#menu1-1q .dropdown-item:hover::before,
#menu1-1q .dropdown-item:focus::before {
  background: #075441;
}
#menu1-1q .dropdown-item:hover,
#menu1-1q .dropdown-item:focus {
  color: #74a3c7;
}
#menu1-1q .link[aria-expanded="true"],
#menu1-1q .dropdown-menu {
  background: #ffffff;
}
#menu1-1q .nav-dropdown-sm .link:focus,
#menu1-1q .nav-dropdown-sm .link:hover,
#menu1-1q .nav-dropdown-sm .dropdown-item:focus,
#menu1-1q .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#menu1-1q .navbar,
#menu1-1q .nav-dropdown-sm,
#menu1-1q .nav-dropdown-sm .link[aria-expanded="true"],
#menu1-1q .nav-dropdown-sm .dropdown-menu {
  background: #fff;
}
#menu1-1q .bg-color.transparent .link {
  color: #74a3c7;
  transition: none;
}
#menu1-1q .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu1-1q .bg-color.transparent.opened .link:hover,
#menu1-1q .bg-color.transparent.opened .link:focus {
  color: #075441;
}
#menu1-1q .link[aria-expanded="true"],
#menu1-1q .dropdown-item[aria-expanded="true"] {
  color: #075441!important;
}
#footer2-1r .footer-list {
  color: #ffe3ab;
}
#footer2-1r .btn-social {
  border-color: #fffffd;
  color: #fffffd;
}
#footer2-1r .btn-social:hover {
  background: #fffffd;
  color: #fff;
}
#menu1-1s .hide-buttons .nav-btn {
  display: none !important;
}
#menu1-1s .navbar-toggler {
  color: #74a3c7;
}
#menu1-1s .close-icon::before,
#menu1-1s .close-icon::after {
  background-color: #74a3c7;
}
#menu1-1s .link,
#menu1-1s .dropdown-item {
  color: #74a3c7;
  font-family: 'Libre Franklin', serif;
}
#menu1-1s .link {
  font-size: 0.8125rem;
}
#menu1-1s .dropdown-item,
#menu1-1s .nav-dropdown-sm .link {
  font-size: 0.880rem;
}
#menu1-1s .link:hover,
#menu1-1s .link:focus {
  color: #075441;
}
#menu1-1s .dropdown-item:hover::before,
#menu1-1s .dropdown-item:focus::before {
  background: #075441;
}
#menu1-1s .dropdown-item:hover,
#menu1-1s .dropdown-item:focus {
  color: #74a3c7;
}
#menu1-1s .link[aria-expanded="true"],
#menu1-1s .dropdown-menu {
  background: #ffffff;
}
#menu1-1s .nav-dropdown-sm .link:focus,
#menu1-1s .nav-dropdown-sm .link:hover,
#menu1-1s .nav-dropdown-sm .dropdown-item:focus,
#menu1-1s .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#menu1-1s .navbar,
#menu1-1s .nav-dropdown-sm,
#menu1-1s .nav-dropdown-sm .link[aria-expanded="true"],
#menu1-1s .nav-dropdown-sm .dropdown-menu {
  background: #fff;
}
#menu1-1s .bg-color.transparent .link {
  color: #74a3c7;
  transition: none;
}
#menu1-1s .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu1-1s .bg-color.transparent.opened .link:hover,
#menu1-1s .bg-color.transparent.opened .link:focus {
  color: #075441;
}
#menu1-1s .link[aria-expanded="true"],
#menu1-1s .dropdown-item[aria-expanded="true"] {
  color: #075441!important;
}
#footer2-1t .footer-list {
  color: #ffe3ab;
}
#footer2-1t .btn-social {
  border-color: #fffffd;
  color: #fffffd;
}
#footer2-1t .btn-social:hover {
  background: #fffffd;
  color: #fff;
}
#menu1-1u .hide-buttons .nav-btn {
  display: none !important;
}
#menu1-1u .navbar-toggler {
  color: #74a3c7;
}
#menu1-1u .close-icon::before,
#menu1-1u .close-icon::after {
  background-color: #74a3c7;
}
#menu1-1u .link,
#menu1-1u .dropdown-item {
  color: #74a3c7;
  font-family: 'Libre Franklin', serif;
}
#menu1-1u .link {
  font-size: 0.8125rem;
}
#menu1-1u .dropdown-item,
#menu1-1u .nav-dropdown-sm .link {
  font-size: 0.880rem;
}
#menu1-1u .link:hover,
#menu1-1u .link:focus {
  color: #075441;
}
#menu1-1u .dropdown-item:hover::before,
#menu1-1u .dropdown-item:focus::before {
  background: #075441;
}
#menu1-1u .dropdown-item:hover,
#menu1-1u .dropdown-item:focus {
  color: #74a3c7;
}
#menu1-1u .link[aria-expanded="true"],
#menu1-1u .dropdown-menu {
  background: #ffffff;
}
#menu1-1u .nav-dropdown-sm .link:focus,
#menu1-1u .nav-dropdown-sm .link:hover,
#menu1-1u .nav-dropdown-sm .dropdown-item:focus,
#menu1-1u .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#menu1-1u .navbar,
#menu1-1u .nav-dropdown-sm,
#menu1-1u .nav-dropdown-sm .link[aria-expanded="true"],
#menu1-1u .nav-dropdown-sm .dropdown-menu {
  background: #fff;
}
#menu1-1u .bg-color.transparent .link {
  color: #74a3c7;
  transition: none;
}
#menu1-1u .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu1-1u .bg-color.transparent.opened .link:hover,
#menu1-1u .bg-color.transparent.opened .link:focus {
  color: #075441;
}
#menu1-1u .link[aria-expanded="true"],
#menu1-1u .dropdown-item[aria-expanded="true"] {
  color: #075441!important;
}
#footer2-1v .footer-list {
  color: #ffe3ab;
}
#footer2-1v .btn-social {
  border-color: #fffffd;
  color: #fffffd;
}
#footer2-1v .btn-social:hover {
  background: #fffffd;
  color: #fff;
}
#features19-1w .mbr-iconfont {
  background: #075441;
  border-color: #075441;
}
